.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

span {
  display: inline-block;
}

.Loading-message {
  margin-top: 3vh;
}

.Charts {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width:1300px) {
  .Charts { flex-wrap: wrap;  }
  .item:first-child { flex-basis: 100%; }
}

table, th, td {
  border: 1px solid #282c34;
}

.Table-title {
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: large;
}

td {
  font-size: small;
}

table {
  border-collapse: collapse;
}
